<%- include('../partials/header')%>

    <h1>DEV Skills</h1>
    <ul>
      <% if (skills) { %>
        <% skills.forEach(function(s) { %>
          <li>
            <a href="/skills/<%= s.id %>"><%= s.name %></a>
              
            <%= s.proficiency %>
          </li>
        <% }); %>
      <% } else { %>
        <p>No skills found.</p>
      <% } %>
      
    </ul>

<%- include('../partials/footer')%>
